<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      MTG Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MTG Cards</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-card *ngFor="let card of cards">
    <ion-img [src]="card.imageUrl"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{card.manaCost}}</ion-card-subtitle>
      <ion-card-title>{{card.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{card.originalText}}
    </ion-card-content>
  </ion-card>


</ion-content>
